* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common css */
.max-width {
    max-width: 1320px;
}

.m-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Starts header css here */
header {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background: url('../images/Banner.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.637);
    background-blend-mode: overlay;
    border-radius: 16px;
}

header h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    width: 632px;
    text-align: center;
}

header h3 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}

/* Ends header css here */

/* Main css */
/* discount css here */
.discount {
    margin-top: 120px;
}

.discount h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
}

.discount h6 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-top: 48px;
    margin-bottom: 16px;
}

.discount h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 48px;
}

/* .discount img {} */

/* mid-night-container */
.mid-night-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    margin: 120px auto;
    background: url('../images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.637);
    background-blend-mode: overlay;
    border-radius: 16px;
}

.mid-night-col {
    display: flex;
    flex-direction: column;
}

.mid-night-col h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
}

.mid-night-col p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.mid-night-col button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: left;
    text-transform: uppercase;
}

/* join now css here */
.join-now {
    height: 482px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 120px auto;
    background: linear-gradient(#ffe6e6, #ffffff);
    padding-top: 100px;
}

.join-now h3 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.join-now button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top: 48px;
    border: none;
}


/* coming soon  css */
.coming-soon {
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 100px;
}

.coming-col {
    text-align: left;
}

.coming-col h3 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.coming-col h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
    margin-top: 16px;
}

.coming-col p {
    width: 393px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


.coming-img-style img {
    padding: 40px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.com-col-3 h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
}

.com-col-3 p {
    color: rgba(0, 0, 0, 0.662);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-top: 16px;
    margin-bottom: 40px;
}
